<ion-header>

  <ion-navbar>
    <ion-title>Cart</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>

<ion-card>
  <ion-grid>
    <ion-row>
      <ion-col >Your Cart Description</ion-col>
    </ion-row>
    <ion-row [hidden]="!showEmptyCartMessage">
      <ion-col >There are no products in your cart!</ion-col>
    </ion-row>
  </ion-grid>
</ion-card>

<ion-list >
  <ion-item *ngFor="let item of cartItems; let i = index">
      <ion-thumbnail item-left>
        <img [src]="item.product.featured_src" style="width: 60px !important; height: 60px !important;">
      </ion-thumbnail>
      <h2>{{item.product.title}}</h2>
      <p>
        {{item.qty}} . {{item.product.price}}
      </p>
      <button ion-button icon clear item-right color="danger" (click)="removeFromCart(item, i)"> 
        <ion-icon name="close-circle"></ion-icon> 
      </button>
  </ion-item>
</ion-list>

<ion-grid>
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col col-2>
          
        </ion-col>
        <ion-col col-4>
          <b>TOTAL</b>
        </ion-col>
        <ion-col col-3>
        
        </ion-col>
        <ion-col col-3 style="text-align: right">
          <b>{{total}}</b>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar >
    <ion-grid>
      <ion-row>
        <ion-col >
          <button ion-button color="danger" outline block (click)="closeModal()">Back</button>
        </ion-col>
        <ion-col >
          <button ion-button color="danger" block (click)="checkout()">Checkout</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
