<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <ion-card>
      <ion-slides loop="true" pager autoplay="3000">
          <ion-slide *ngFor="let number of [1,2,3,4]">
            <img src="../assets/imgs/{{number}}.jpg" alt="shopping" class="responsive">
          </ion-slide>
        </ion-slides>
  </ion-card> 

  <img style="margin-top: 10px;" src="../assets/imgs/banner2.jpg" alt="shopping" class="responsive">

  <ion-grid no-padding>
    <ion-row>
      <ion-slides pager #productSlides>
        <ion-slide *ngFor="let product of products">
          <ion-card no-padding>
            <img [src]="product.featured_src"/>
            <ion-card-content>
              <ion-card-title>
                <h1 padding center> {{ product.title }} </h1>
              </ion-card-title>
              <p padding center [innerHTML]="product.description"></p>
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </ion-row>
  </ion-grid>

  <ion-list>
    <ion-item *ngFor="let product of moreProducts" text-wrap (click)="openProductPage(product)">
      <ion-thumbnail item-left>
        <img [src]="product.featured_src">
      </ion-thumbnail>
      <h2>{{product.title}}</h2>
      <p>
        <span [innerHTML]="product.description.substr(0,50) + '...'"></span>
        <span [innerHTML]="product.price_html"></span>
      </p>
      <button ion-button icon clear item-right> <ion-icon name="arrow-dropright"></ion-icon> </button>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="loadMoreProducts($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
