<ion-header>

  <ion-navbar>
    <ion-title>Customer Sign Up</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>
  <ion-list >
    <ion-item-divider color="danger">Personal Details</ion-item-divider>
    <ion-item >
      <ion-label floating>First Name</ion-label>
      <ion-input type="text" [(ngModel)]="newUser.first_name" ></ion-input>
    </ion-item>
    <ion-item >
      <ion-label floating>Last Name</ion-label>
      <ion-input type="text" [(ngModel)]="newUser.last_name" ></ion-input>
    </ion-item>
    <ion-item >
      <ion-label floating>Email</ion-label>
      <ion-input type="email" [(ngModel)]="newUser.email" (ionBlur)="checkEmail()"></ion-input>
    </ion-item>
    <ion-item >
      <ion-label floating>Username</ion-label>
      <ion-input type="text" [(ngModel)]="newUser.username" ></ion-input>
    </ion-item>
    <ion-item >
      <ion-label floating>Password</ion-label>
      <ion-input type="password" [(ngModel)]="newUser.password" ></ion-input>
    </ion-item>
    <ion-item >
      <ion-label floating>Confirm Password</ion-label>
      <ion-input type="password" [(ngModel)]="newUser.confirm_password" ></ion-input>
    </ion-item>

    <ion-item-divider color="danger">Billing Address</ion-item-divider>

    <ion-item>
      <ion-label floating >Address Line 1</ion-label>
      <ion-textarea type="text" maxlength="80" [(ngModel)]="newUser.billing_address.address1"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label floating >Adress Line 2</ion-label>
      <ion-textarea type="text" maxlength="80" [(ngModel)]="newUser.billing_address.address2"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label floating>Country</ion-label>
        <ion-select [(ngModel)]="newUser.billing_address.country">
          <ion-option value="Malaysia" selected="true">Malaysia</ion-option>
        </ion-select>
    </ion-item>
    <ion-item>
      <ion-label floating>State</ion-label>
        <ion-select [(ngModel)]="newUser.billing_address.state">
          <ion-option value="kl">Kuala Lumpur</ion-option>
          <ion-option value="sel">Selangor</ion-option>
          <ion-option value="ns">Negeri Sembilan</ion-option>
          <ion-option value="mel">Melaka</ion-option>
          <ion-option value="jhr">Johor</ion-option>
          <ion-option value="prk">Perak</ion-option>
          <ion-option value="phg">Pahang</ion-option>
          <ion-option value="ked">Kedah</ion-option>
          <ion-option value="pp">Pulau Pinang</ion-option>
          <ion-option value="pls">Perlis</ion-option>
          <ion-option value="kel">Kelantan</ion-option>
          <ion-option value="trg">Terengganu</ion-option>
        </ion-select>
    </ion-item>
    <ion-item>
      <ion-label floating>City</ion-label>
      <ion-input type="text" [(ngModel)]="newUser.billing_address.city"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Postal Code</ion-label>
      <ion-input type="number" clearInput [(ngModel)]="newUser.billing_address.postcode"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Phone</ion-label>
      <ion-input type="tel" clearInput [(ngModel)]="newUser.billing_address.phone"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Same Shipping Details</ion-label>
      <ion-checkbox (ionChange)="setBillingToShipping()"></ion-checkbox>
    </ion-item>

    <ion-item-divider color="danger" *ngIf="!billing_shipping_same">Shipping Address</ion-item-divider>

    <ion-item *ngIf="!billing_shipping_same">
      <ion-label floating >Address Line 1</ion-label>
      <ion-textarea type="text" maxlength="80" [(ngModel)]="newUser.shipping_address.address1"></ion-textarea>
    </ion-item>
    <ion-item *ngIf="!billing_shipping_same">
      <ion-label floating >Adress Line 2</ion-label>
      <ion-textarea type="text" maxlength="80" [(ngModel)]="newUser.shipping_address.address2"></ion-textarea>
    </ion-item>
    <ion-item *ngIf="!billing_shipping_same">
      <ion-label floating>Country</ion-label>
        <ion-select [(ngModel)]="newUser.shipping_address.country">
          <ion-option value="Malaysia" selected="true">Malaysia</ion-option>
        </ion-select>
    </ion-item>
    <ion-item *ngIf="!billing_shipping_same">
      <ion-label floating>State</ion-label>
        <ion-select [(ngModel)]="newUser.shipping_address.state">
          <ion-option value="kl">Kuala Lumpur</ion-option>
          <ion-option value="sel">Selangor</ion-option>
          <ion-option value="ns">Negeri Sembilan</ion-option>
          <ion-option value="mel">Melaka</ion-option>
          <ion-option value="jhr">Johor</ion-option>
          <ion-option value="prk">Perak</ion-option>
          <ion-option value="phg">Pahang</ion-option>
          <ion-option value="ked">Kedah</ion-option>
          <ion-option value="pp">Pulau Pinang</ion-option>
          <ion-option value="pls">Perlis</ion-option>
          <ion-option value="kel">Kelantan</ion-option>
          <ion-option value="trg">Terengganu</ion-option>
        </ion-select>
    </ion-item>
    <ion-item *ngIf="!billing_shipping_same">
      <ion-label floating>City</ion-label>
      <ion-input type="text" [(ngModel)]="newUser.shipping_address.city"></ion-input>
    </ion-item>
    <ion-item *ngIf="!billing_shipping_same">
      <ion-label floating>Postal Code</ion-label>
      <ion-input type="number" [(ngModel)]="newUser.shipping_address.postcode"></ion-input>
    </ion-item>
    <ion-item *ngIf="!billing_shipping_same">
      <ion-label floating>Phone</ion-label>
      <ion-input type="tel" [(ngModel)]="newUser.shipping_address.phone"></ion-input>
    </ion-item>

  </ion-list>
</ion-content>

<ion-footer>
  <button ion-button block color="danger" (click)="signup()">Sign Up!</button>
</ion-footer>