<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>

    <ion-card >
      <img src="../assets/imgs/node.png"/>
      <ion-card-content>
        <ion-card-title>
          WOOLONiC
        </ion-card-title>
        <p>
          Evolution of Shopping
        </p>
        <!-- <div class="card-title">WOOLONiC</div>
        <div class="card-subtitle">Make it evolve</div> -->
      </ion-card-content>
    </ion-card>

    <ion-list>

      <ion-item *ngFor="let category of categories" text-wrap (click)="openCategoryPage(category)" menuClose>
        <ion-icon [name]="category.icon" item-left large></ion-icon>
        <h2> {{ category.name }} </h2>
        <p> {{ category.description }} </p>
      </ion-item>

      <ion-item-divider color="danger">Account</ion-item-divider>

      <ion-item *ngIf="!loggedIn" (click)="openPage('signup')" menuClose>
        <ion-icon name="md-clipboard" item-left large></ion-icon>
        <h2>Sign Up</h2>
        <p>For new account</p>
      </ion-item>

      <ion-item *ngIf="!loggedIn" (click)="openPage('login')" menuClose>
        <ion-icon name="log-in" item-left large></ion-icon>
        <h2>Log In</h2>
        <p>Using email and password</p>
      </ion-item>

      <ion-item *ngIf="loggedIn" menuClose>
        <ion-icon name="contact" item-left large> </ion-icon>
          <h2>{{ (this.user.firstname == '' ? this.user.username : this.user.firstname) || "" }}</h2>
          <p>Welcome</p>
      </ion-item>

      <ion-item *ngIf="loggedIn" (click)="openPage('cart')" menuClose>
        <ion-icon name="cart" item-left large></ion-icon>
        <h2>Your Cart</h2>
        <p>Check items in your cart</p>
      </ion-item>

      <ion-item *ngIf="loggedIn" (click)="openPage('logout')" menuClose>
        <ion-icon name="log-out" item-left large></ion-icon>
        <h2>Logout</h2>
        <p>of your account</p>
      </ion-item>

    </ion-list>
  </ion-content>

</ion-menu>

<ion-nav #content [root]="homePage"></ion-nav>